@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: rgb(223, 218, 218);
  width: 300px;
  height: 150vh;
  font-family: "Oswald", sans-serif;
}

.sidebar nav {
  padding: 20px;
}

.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 25px 0;
}

.sidebar nav li a {
  text-decoration: none;
  color: black;
}
.main {
  background-color: aliceblue;
  width: 90vw;
  align-items: center;
}

.container {
  display: flex;
}

.infoContainer {
  height: 60vh;
  width: 70vw;
  margin: 144px auto;
  display: flex;
  justify-content: space-around;
}

.devInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
}

.hello {
  font-size: 55px;
}

.name {
  font-size: 50px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.about {
  font-size: 40px;
  margin-top: 20px;
}

.moreabout {
  font-size: 25px;
  margin-top: 23px;
  font-family: "Oswald", sans-serif;
}

.buttons {
  margin-top: 34px;
}

.buttons button {
  padding: 9px 14px;
  border-radius: 20px;
  color: white;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  cursor: pointer;
}

.buttons button:hover {
  background-color: white;
  color: dodgerblue;
}

.devPic img {
  height: 60vh;
  width: 20vw;
  align-items: flex-end;
}
